.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.video-list {
    display: flex;
    margin-top: 10px;
    align-self: center;
    flex: 1;
    margin-left: 10px;
    flex-direction: row;
}

.video-block {
    display: flex;
    margin-top: 50px;
    flex: 1;
    padding-left: 50px;
    flex-direction: column;
}

.video-large {
    display: flex;
    flex: 1;
    height: 450px;
    width: "100%";
    margin-top: 50px;
    align-content: center;
    justify-content: center;

}

.player-view {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-wrapper {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
}

.player-wrapper-block {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-wrapper-large {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-title {
    display: block;
    height: 370px;
    margin-bottom: 300px;
    margin-left: 10px;
    font-size: 16px;
    color: #FFF;
    position: absolute;
}

.imgPlay {
    position: absolute;
    z-index: 3;
}

.nav-controls {
    width: 700px;
    height: 25px;
    margin-top: 180px;
    align-items: center;
    position: absolute;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.img-play-pause {
    position: absolute;
    z-index: 3;
    margin-left: 10px;
}

.img-expand {
    position: absolute;
    z-index: 3;
}

.playback-time {
    font-size: 12px;
    width: 100px;
    margin-left: 550px;
    font-weight: 700;
    color: #FFF;
}

.progress {
    z-index: 3;
    background-color: #FFB6C1;
    width: 700px;
    margin-top: 14px;
    height: 5px;
    position: absolute;
}
.progress-loaded {
    z-index: 2;
    background-color: #585858;
    width: 700px;
    margin-top: 14px;
    height: 5px;
    position: absolute;
}

.controls {
    position: absolute;
    width: 90px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 90px;
    border-radius: 45px;
    background-color: rgba(0,0,0,.5);
}

.nav-controls-list {
    width: 400px;
    height: 25px;
    margin-top: 95px;
    align-items: center;
    position: absolute;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.img-expand-list {
    z-index: 3;
    margin-left: 300px;
    margin-right: 20px;
}

.progress-list {
    z-index: 3;
    background-color: #FFB6C1;
    width: 400px;
    margin-top: 15px;
    height: 5px;
    position: absolute;
}

.progress-block {
    z-index: 3;
    background-color: #FFB6C1;
    width: 400px;
    margin-top: 13px;
    height: 5px;
    position: absolute;
}

.nav-controls-block {
    position: absolute;
    width: 50px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(0,0,0,.5);   
}

.playback-time-list {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 700;
    color: #FFF;
}

.playback-time-block {
    font-size: 12px;
    margin-right: 340px;
    margin-top: 190px;
    font-weight: 700;
    color: #FFF;
}

.img-volume {
    margin-left: 40px;
}

.img-volume-block {
    margin-left: 10px;
    z-index: 3;
}